.gifGrid  {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-left: 110px ;
  gap: 10px;
}

.gifGrid img {
  object-fit: cover;
  height: 190px;
  width: 310px;
  box-shadow: 2px 2px 2px 2px black;
  }
